[2017-01-30 05:43] chaseadamsio opened #2 "add drawer support"
add support to process drawers:

[code]

The support should be pretty easy but deciding how to handle it is going to be the part that'll require some work. It needs to be handled the same way `org-publish-project-alist` would. (http://orgmode.org/worg/org-tutorials/org-publish-html-tutorial.html)

[2017-02-01 01:17] chaseadamsio opened #3 "add multi-level nested lists support"

[2017-02-08 02:55] chaseadamsio opened #4 "hyperlink text not being run through inline"
Currently hyperlink text is not being inlined.

[2017-02-14 04:51] chaseadamsio opened #6 "add build badge for travis"
add build badge for travis for [![Build Status](https://travis-ci.org/chaseadamsio/goorgeous.svg?branch=master)](https://travis-ci.org/chaseadamsio/goorgeous) but in org content.

[2017-02-14 16:06] kaushalmodi opened #8 "Support rules in org tables"
Org tables are supported but the horizontal rules in them are not.

[code]

[2017-02-14 16:08] kaushalmodi opened #9 "Support for underline syntax"
Can you please add support for the underline syntax.

Here's a MWE with various formatting markups:

[code]

[2017-02-14 16:10] kaushalmodi commented on #9
Above also reveals an issue with another formatting parsing.. `==Verbatim==` should show `=Verbatim=` in monospace. But it is not at the moment.

In emacs, you can run `C-c C-e h o` on the above MWE to see the formatting done by org.

[2017-02-14 16:16] kaushalmodi opened #10 "Support for :noexport:"
If a heading is tagged with `:noexport`, then that whole subtree is not exported. This is the default org-mode behavior.

Can you please add that feature? It is very useful when you have something "in-works" in the org file, but you are not yet ready to publish it to HTML.

Here's a MWE:

[code]

Currently it exports like this.

![image](https://cloud.githubusercontent.com/assets/3578197/22937559/

[2017-02-14 16:19] kaushalmodi opened #11 "Empty lines are removed from source blocks"
Here's a MWE

[code]

Below, the empty line in the source block is lost.

![image](https://cloud.githubusercontent.com/assets/3578197/22937701/5772b102-f2a7-11e6-914a-8b0c1fc6743b.png)

[2017-02-16 01:02] chaseadamsio commented on #9
I've been thinking about underline, as it's not supported by blackfriday, the only way I could think to support this is to add an element with a class of "underline" or a style="text-decoration:underline;" which feels kind of messy, but is the only way to handle it. Both are trivial to implement, it's just a matter of deciding the right way to do it.

[2017-02-16 04:23] #8 closed

[2017-02-16 04:44] chaseadamsio commented on #9
I'm going to open a separate issue for the verbatim bug. This one should now be fixed by #13.

[2017-02-16 04:45] chaseadamsio opened #14 "verbatim doesn't render properly when it contains equals signs"
due to the nature of how verbatim works, it doesn't currently support the following:

[code]

cc @kaushalmodi from #9.

[2017-02-16 04:45] #9 closed

[2017-02-16 05:34] chaseadamsio commented on #6
closed by 16e6d9594e1b3600799faf0dc5afa4b1b0910c54.

[2017-02-16 05:34] #6 closed

[2017-02-16 05:34] chaseadamsio commented on #11
This is merged and ready for review. Please let me know if you find a corner case!

[2017-02-16 15:46] kaushalmodi commented on #11
Thanks! I confirm that now the newlines are preserved in source blocks.

[2017-02-16 15:46] #11 closed

[2017-02-16 15:46] kaushalmodi commented on #9
I confirm the fix :+1:

[2017-02-16 15:47] kaushalmodi commented on #8
I confirm the fix :+1:

[2017-02-16 16:43] kaushalmodi commented on #3
To add to this, here is a MWE to test this support:

- And unordered list begins with `+` or `-`.
- Two empty lines ends a list.

Here is the [spec](http://orgmode.org/manual/Plain-lists.html#Plain-lists).

[code]

Above snippet is from my large org syntax examples file (so you see the section numbers below). This is what org exports to html:
![image](https://cloud.githubusercontent.com/assets/357

[2017-02-16 16:50] kaushalmodi opened #18 "Ordered lists"
The [org spec][1] allows fine-tuning ordered lists:

- Allow list number to be anything the user wants using syntax like `[@10]`. This would be a nice-to-have support.

But more than that, it will be useful to support unordered lists nested in ordered lists and vice-versa.

[code]

Ignoring the section numbers and CSS theme, this is how the org to html export looks:

![image](https://cloud.githubu

[2017-02-16 17:06] kaushalmodi opened #19 "Support org spec for #+HTML"
In markdown, we use `` as a marker of "end of summary" for hugo.

[Reference][1]

Can the below be supported for org?

[code]

## Support `#+HTML`

This feature request is more than just support `` :smile:

It is about supporting the org `#+HTML:` syntax.

[*Ref - Quoting HTML tags in org*][2]

Note that it can be `#+HTML:` or `#+html:`; it's case-insensitive.

## Support `@@html:...@@`

Below MWE

[2017-02-16 17:30] kaushalmodi commented on #2
This will also help support `CUSTOM_ID` where user can specify the link id for a subsection in the post.

(Note that in your example above, you need a `:` before `SOMEKEY: value`.)

Here's a MWE:

[code]

Here is how org exports above to HTML:
![image](https://cloud.githubusercontent.com/assets/3578197/23032697/4f888fbe-f443-11e6-9915-0e7993fa48a0.png)

(Note the link seen in the status bar as I h

[2017-02-17 03:56] chaseadamsio commented on #18
Sounds like there are two parts to this issue:
- [ ] support user defined values (fixed in #20)
- [ ] support nested lists (this one I've known I needed to do and it'll be a big win when it's done)

[2017-02-17 13:04] chaseadamsio commented on #18
@kaushalmodi the value part has been implemented, please take a look!

[2017-02-17 15:40] kaushalmodi commented on #18
Thanks! I confirm the user-defined values feature. You are on a roll! :+1:

[2017-02-21 05:20] chaseadamsio commented on #19
I think there are two issues here, so I'd like to consider it like this:

# support Hugo user-defined split

I'd like to do this with a standard org comment, rather than us having this weird html comment as a work around (I've updated my Hugo PR with this)

# support HTML syntax

This can be done in `goorgeous`, so there should be a PR for it this week hopefully.

How does that sound?

[2017-02-21 13:56] chaseadamsio commented on #4
this has been fixed.

[2017-02-21 13:56] #4 closed

[2017-02-21 17:17] kaushalmodi commented on #19
The reason why org spec has special comments like `#+HTML:`, `#+LATEX:`, etc. is because the same org doc can be exported to html, tex, etc.

So the org parser needs to understand what stuff is limited to what kind of export.

That said, the solution to use `# more` specific to summary split is fine. But I hope that `#+HTML: ` is also supported in future, saying faithful to the generic style of em

[2017-02-21 18:09] chaseadamsio commented on #19
@kaushalmodi in short: I'm going to support the `#+HTML:` and `#+LATEX:` functionality, but you don't need to use it for summaries in Hugo. :)

The way Hugo handles `` wouldn't work with anything other than a straight comment because of the way Markdown works and since it's stripped and not used, I thought it'd make more sense to use a convention that's native to org, rather than having a weird wo

[2017-02-22 02:48] moorereason opened #21 "Title-casing of keys"
I don't know org-mode, but a question related to Hugo:

Given a frontmatter of `#+title: foo`, goorgeous returns:

[code]
The other frontmatter parsers in Hugo leave the key casing as-is.  Is it necessary for the string to be title-cased?

[2017-02-22 03:34] chaseadamsio commented on #21
Nope, not necessary. PR is opened against it, should be merged in the next 10-15 min.

[2017-02-22 03:34] chaseadamsio commented on #14
@kaushalmodi this fix is in the master branch. feel free to update local hugo to test.

[2017-02-22 03:40] chaseadamsio commented on #21
@moorereason feel free to test locally by running `govendor update github.com/chaseadamsio/goorgeous` to get latest master. I'll do a PR to Hugo at the end of the week to update the goorgeous dependency with a batch of patches.

[2017-02-22 05:25] #14 closed

[2017-02-24 04:45] #21 closed

[2017-02-24 06:59] kaushalmodi opened #26 "Newline should not create a new HTML paragraph"
The paragraph marking style in org is the same as in markdown.

If I have

[code]

it should export to HTML as

[code]

But instead, it is currently creating a paragraph for each new line.

---

This is the expected behavior:

- A single newline does not end a paragraph.
- Two or more consecutive newlines end a paragraph (basically one ore more blank lines).

---

I found this issue because I like

[2017-02-28 16:25] balaramadurai commented on #19
Thanks @chaseadamsio and @kaushalmodi for your help with including org mode in Hugo. Love it.

One question - may be a dumb one. I have hugo-universal-theme and I can't get the table to have borders and rules. I tried `#+HTML: :border 2 :rules all :frame border :class striped table-striped` but the html code hasn't changed for the table. Is this because `#+HTML:` is not yet supported?

[2017-02-28 16:33] kaushalmodi commented on #19
@balaramadurai Well, I am just a tester. I am pestering @chaseadamsio with feature requests.

This issue is still open. So the `#+HTML:` support needs to be added.

But support for stuff like `#+HTML: :border 2 :rules all :frame border :class striped table-striped` is much more complicated. I believe it deserves a separate issue. You can put a minimum working example of the org file with that `#+H

[2017-02-28 16:56] chaseadamsio commented on #19
@balaramadurai I'm with @kaushalmodi on this. I'm working on a Pull Request now to refactor the lexer/parser now so we can make these kind of changes easier to make without having to dig through the current parser. Can you open a separate issue with the desired input and output & I'll triage it?

[2017-03-02 00:09] jackbaty opened #28 "Add support for "smart" quotes"
I would love it if setting the following in the front matter of an org file for a Hugo post would cause the output to use "smart" quotes.

`#+OPTIONS: ':t`

[2017-03-02 12:59] priyadarshan opened #29 "Support for VERSE block"
Hello,

Now that Goorgeous is available via Hugo, a non-profit I have been helping is considering switching to Hugo.

They curate a pretty large site offering several thousands books, all using org-syntax.

Many are poetry books, and use the [VERSE](http://orgmode.org/manual/Paragraphs.html) block.

[code]

It would be excellent for us if Goorgeous could support VERSE block.

Thank you for Goorgeo

[2017-03-02 15:20] chaseadamsio commented on #29
Can you share an example of the expected html block?

[2017-03-02 18:29] priyadarshan commented on #29
This is how Emacs natively exports the block in example (Emacs 25.2.1):

[code]

It would be important to preserve the verse indentation, and the <p class="verse"> that allows styling.

Thank you so much for considering it.

[2017-03-07 14:36] yssource opened #30 "Support #+SETUPFILE:"
I got this idea from https://github.com/fniessen/org-html-themes

![image](https://cloud.githubusercontent.com/assets/3756334/23661057/6df1c9dc-0386-11e7-89dd-5ec405098a6b.png)

[2017-03-07 15:59] yssource opened #31 "Support #+INCLUDE:"
I think It would be very useful to have this supported.

[2017-03-08 16:06] strow opened #32 "panic: runtime error: index out of range"
There are probably many good reasons for this error.   But I wanted to introduce my use of hugo and ormode so I can understand how to port to goorgeous.  I have been using hugo for 2 years with only org-mode source files.  How?  I just create the .html directly (yes, by hand) in emacs from the .org source file using the orgmode html exporter.  It works very well, but, it is a pain in that orgmode

[2017-03-08 16:09] strow commented on #32
I forgot to point out that most hugo error messages were indeed referring to goorgeous

[2017-03-09 16:01] chaseadamsio commented on #32
Can you share a snippet of a panic you get? If your html files are in your output folder those will get overwritten but it won't be overwritten if it's in your content folder.

[2017-03-09 16:03] chaseadamsio commented on #32
Also, is your Hugo source a public repo? I'm happy to help debug it so we can help others port or work around it who did the same thing.

[2017-03-09 16:49] strow commented on #32
Sure,

Below is a snippet.

But, I should emphasize that my .org files have a number of
org-mode
HTML exports, which I wouldn't expect your code to handle.

I'll try a clean setup with no html exports soon, just to be sure
plain
vanilla org works for me.

Thanks.

cress> hugo
Started building sites ...
panic: runtime error: index out of range

goroutine 118 [running]:
github.com/spf13/hugo/vendor/

[2017-03-12 18:38] strow commented on #32
Hi,

I've done some further tests.  I can get your org conversion to
"complete" for some simpler files, but there are many many
problems.  I
really do appreciate the attempt, but I really hope hugo can be
modified
to not wipe out my web site creation methodology.

I suspect you had to just implement the standard org syntax.  Many
details are not working:

1. macros, like below
#+LINK: hpub https:/

[2017-03-13 07:15] chaseadamsio commented on #32
Are your .org files in your `content` directory? Since they're not truly being used by Hugo and you're already doing them by hand, if you put them in another directory that Hugo doesn't watch, it won't attempt to render your org files and overwrite your intermediate or your resulting HTML. An example:

[code]

[2017-03-13 10:07] strow commented on #32
Well I guess that would work but would be a real pain for me constantly
moving files.  I'd say that is a hack.  how hard would it be to just have
an option to ignore your org 2 HTML converter?  That will just add a level
of confusion for my group members who already struggle with Hugo and org.
I just think it is wrong to break something that worked fine for years.

Larrabee

On Mon, Mar 13, 2017 a

[2017-03-13 12:25] strow commented on #32
If you would like access to my web site repo, I can add
"chaseadamsio"??  as a collaborator to the github version of the
repo (not sure if that is your github identidy).  I just ask you
don't publish it.  This would show you a lot of legal .org files
that don't render with goorgeous.  Mostly look under content/asl/
for files with graphics.  This might help you in further
development of goorgeous.

[2017-03-13 17:31] PerlStalker commented on #10
The list of tags that should not be exported can also be set with #+EXPORT_EXLUDE_TAGS.

I use this feature when I write show notes for podcasts. My personal notes are tagged with :noexport. I need then while doing the podcast but I don't want them exported to the website. This lets me keep all of the notes in the same place.

[2017-03-14 11:47] chaseadamsio commented on #32
Hey Larrabee,

So this one thread has had me reconsidering attempting to stay in parity with org mode and instead to work on using Emacs as an exec command. I've got a working branch that I think I can PR in the next few days here: https://github.com/chaseadamsio/hugo/tree/fix-useEmacsForOrg

This will allow you to use emacs as a part of Hugo rather than a go Org port, but it _won't_ fix the issue

[2017-03-14 11:49] chaseadamsio commented on #32
Also, if you let me know which release type you install from if you're not comfortable installing from source, I'd be happy to generate the relevant binary/executable and put it in the releases of my hugo fork so you can test it out before I PR.

[2017-03-14 15:49] strow commented on #32
Wow, looking at this thread via github shows me my mu4e emacs-based emailer is buggering up CR/LF.  Oh well.

My reaction to using Emacs as an exec is fine, it it works.  But that is a tricky integration that is bound to cause issues.  I am a strong believer in keeping things as simple as possible.  There is nothing easer than what I do now, "C-e C-b h h" in emacs and I am done.   Not sexy, but ve

[2017-03-19 05:13] yssource opened #33 "wrong output, when mixing raw html with org-mode"
**Code 1**
[code]

**Code 2**
[code]

Currently this tool does not support `#+HTML` , like the **code 1**. But, actually Hugo has already supported the rendering for the raw html.
I try to test it with **Code 2**, mixing raw html with org-mode. As a result, get the wrong output

1. **The actually output**:
[code]

2. **Expected output**:

[code]

[2017-03-19 05:20] yssource commented on #31
It would be much appreciated, if more org-mode syntax are going to be supported.
1. #+HTML_HEAD:
`#+HTML_HEAD: <link href="css/style.css" rel="stylesheet" type="text/css" />`
2. {{{ macro(args) }}}

[2017-03-23 09:12] gour commented on #26
Any progress on this?

Having support for e.g. writing content in Hugo static-site-generator using org-mode support is great, but this issue is showstopper atm. 😢

[2017-03-23 16:58] chaseadamsio commented on #26
@gour yep, I'm working on it this week. Sorry, I've had a crazy March (travel for work and moving house) and this week is the first week I've had to even get on the computer outside of working hours. PR coming.

[2017-03-23 21:21] gour commented on #26
@chaseadamsio  Np. Let me, however, say that ability to use straight org-mode markup when writing content in Hugo is one of the strong reasony why I'm migrating to Hugo (from python-powered ssg)...and, yes, I plan to start learning Go in order to be able to contribute somehow...

[2017-03-25 05:20] chaseadamsio commented on #26
If you have any test cases you'd like to add, please comment on #34 with cases. The PR should resolve this issue.

[2017-03-28 13:15] kevinkwl opened #35 "math latex block ,panic: runtime error: index out of range"
[code]
cause the error,

but
[code]
works

[2017-03-29 02:40] #26 closed

[2017-03-29 13:43] kevinkwl commented on #35
No error with latest version.

[2017-03-29 13:43] #35 closed

[2017-03-31 22:09] Unknwon opened #37 "Panic: slice bounds out of range"
Hi, thanks for the library!

Only one critical problem as titled.

Example input: https://raw.githubusercontent.com/Digit/witch/master/birch/README.org

[code]

[code]

[2017-04-02 16:06] chaseadamsio commented on #37
Thanks @Unknwon. Will take a look at this tomorrow.

[2017-04-08 05:45] Unknwon commented on #37
Hi... some panics are fixed .. but the example input still panics...

[2017-04-12 02:39] #37 closed

[2017-04-21 08:33] bshankar opened #41 "Table of contents is missing"
when I export a web page that I wrote in org-mode using hugo. The table of contents is getting generated properly when I use markdown instead.

See
https://discuss.gohugo.io/t/table-of-contents-for-org-mode-is-empty/6272

[2017-04-25 17:03] CarlColglazier opened #42 "Table with a single row causes a panic."
The following line is giving the library problems:

[code]

Output (running inside hugo):

[code]

Everything works fine if there is more than one row, but a single row is causing a panic.

I was able to reproduce the issue by adding the following to `TestRenderingTables`:

[code]
This produced the following output for `go test`:

[code]

[2017-04-25 21:10] strow commented on #32
Hi,

We had a discussion a while back with regard to goorgeous breaking my
workflow.  (I want the .org files to be in my repo, and create .html
with emacs org-mode, works very well.)

You seemed to hope that the hugo maintainers might introduce a config
file flag that would tell hugo to ignore .org files.

Looks like that has not happened?  Any idea if they will do this in the
future?

I was quite

[2017-04-26 00:11] chaseadamsio commented on #32
@strow I'll take a stab at it Friday (first PTO in a while) and cc you on the PR.

[2017-04-26 10:33] #42 closed

[2017-04-29 05:32] duckdodger opened #46 "Support for symbols like ndash and mdash"
Org supports ndash `--` and mdash `---` which are exported properly to – and — respectively through HTML with` &ndash;` and `&mdash;`. It doesn't look like it's done in goorgeous, hence this issue. You can have a look at http://orgmode.org/worg/org-symbols.html as reference for all such special characters.

Thanks for this package, by the way! I love it. :)

[2017-05-02 04:48] podiki commented on #19
Any updates on this issue? It would really add a lot of flexibility to use any necessary html in org, as one can from markdown, with hugo.

[2017-05-02 12:36] priyadarshan commented on #46
Yes, EnDash, `--`, and EmDash, `---` are quite important in humanities publications and their sites.

Org via Emacs will render EmDash, `---`,

[code]
thus:
[code]

EnDash, `--`,

[code]
is rendered as,

[code]

In summary:

EmDash: `---` is rendered as ` &#x2014; `
EnDash: `--` is rendered as `&#x2013;`

[2017-05-02 16:26] whirm opened #47 "Consecutive ~code~ wrapped text gets joined some times"
This:
[code]
will get exported to:

![untitled](https://cloud.githubusercontent.com/assets/529494/25627978/c3bb4816-2f64-11e7-83d3-045393535911.png)

I'm using goorgeous through hugo.
Thanks!

[2017-05-03 06:45] whirm opened #48 "Links on a numbered list are rendered literally"
[code]

renders to this:

![untitled](https://cloud.githubusercontent.com/assets/529494/25650374/b6679fca-2fdc-11e7-8b7d-4e4fe4770593.png)

I'm using goorgeous through hugo.
Thanks!

[2017-05-03 12:10] kevinkwl opened #49 "Extra newline in src and example export"
Seems that extra newline is inserted (big top margin)
<img width="785" alt="r" src="https://cloud.githubusercontent.com/assets/10610501/25659924/8eb10b14-303c-11e7-91f9-b1926d4e0ed7.png">
Markdown export is fine:
<img width="795" alt="w" src="https://cloud.githubusercontent.com/assets/10610501/25659915/88d5575e-303c-11e7-858e-af7f25e45c0c.png">

[2017-05-04 11:49] kevinkwl commented on #49
use **PrismJS** to highlight solves the problem. (use the normalize plugin)

[2017-05-04 11:49] #49 closed

[2017-05-17 22:53] Unknwon commented on #37
Thank you!

[2017-05-17 23:36] Unknwon commented on #37
Hi... I'm again..

Example content that cause panic: https://try.gogs.io/holocronweaver/org-test/raw/744887459fbc0f86f8d8a311b3e502373d813a37/README.org

Panic message:

[code]

[2017-06-03 17:01] mgmart commented on #48
First of all thank you very much for providing goorgeus. 😄

Have the same problem with footnotes:

```[fn:1] Footnotetext [[https://example.com][LinkTitle]]```

is rendered to:

1.  Footnotetext [[https://example.com][LinkTitle]] ↩

Seems to be the same issue. Also a Hugo user.

[2017-06-09 16:12] mgmart opened #50 "Linebreaks in lists are preserved"
I tried to convert the markdown content of our Hugo site to org. Which worked fine. Unfortunately Hugo does preserve the line-breaks in lists.

In the attached image I've marked the occurrences with arrows. The red markers are for the next ticket 😄 .

<img width="461" alt="documentation_-_mobileorg" src="https://user-images.githubusercontent.com/3919652/26984209-c9c0501a-4d3e-11e7-97fe-26991871543

[2017-06-09 16:14] mgmart opened #51 "=code= before or after linebreak is not parsed"
If =code= occurs right before or after a linebreak, it is not parsed.

I've marked the occurrences in the image attached to #50

[2017-06-13 09:44] mgmart commented on #51
Digged a bit deeper. It seems it's only true in a list environment.
Therefore this should be solved once #50 is fixed.
[code]

[2017-07-03 16:30] mgmart opened #53 "Four consecutive lines beginning with '#' crash hugo"
I'm using goorgeous with hugo. Tried to create a post with an example config file.

[code]
And got a panic.

Further tests show that regardless of the ```****_EXAMPLE```statements, the error occurs if there are four consecutive lines starting with ```#``` in the Org file.

[code]

results in:

[code]

Three lines
[code]

are processed without error.

[2017-07-04 02:15] wd commented on #50
I also found Hugo will not process '=.git=' as attached image shows.

![image](https://user-images.githubusercontent.com/58177/27812447-a642be0e-60a1-11e7-8b83-ef32001a98b1.png)

[2017-07-04 04:20] mgmart opened #54 "Code beginning with a dot is not rendered as code"
[code]

is rendered as

<img width="323" alt="deployment_of_a_hugo_site_on_github_pages_ _pragmatic" src="https://user-images.githubusercontent.com/3919652/27814964-c9335ade-6080-11e7-9eb6-dfe08aaf01db.png">

[2017-07-10 14:27] ermanno opened #55 "Extra space and different theme in code block exports"
I wanted to use Org mode to write my blog posts with Hugo, and I have some issues with how source code blocks are exported. If I use:

[code]

I get the following output:

[code]

which is different from the output I get by using the same synthax I would use if I were writing in Markdown (in particular, graphically it is shifted to the right and with one line before the code, see image below with

[2017-08-01 22:47] ermanno commented on #55
I think that this might be due to how client side syntax highlighting (i.e. with highlight.js) have issue dealing with the newline after the opening "code" tag (https://github.com/jekyll/jekyll-help/issues/191).

[2017-08-01 23:08] ermanno commented on #55
For the moment I am using this (https://stackoverflow.com/questions/14946908/how-can-i-ignore-leading-and-trailing-linebreaks-within-an-html-code-block-usi) to work around the first line issue, in any case I don't think that it is a problem with goorgeous, but rather with how the highlighter deals with the newline.

[2017-08-01 23:08] #55 closed

[2017-08-03 13:32] sanandak opened #56 "Links to .org sites are mangled"
The following:

`[[www.qgis.org][QGIS]]`

Renders as

`<a href="http://www.qgis" title="QGIS">QGIS</a>`

This is in Hugo version v 0.25.1 (I don't know how to check the goorgeous version that hugo is using...)

Thanks,
Sridhar

[2017-08-03 14:47] sanandak commented on #56
Ah.. I see that one can work around this by appending a `/` to the end.  This works
`[[www.qgis.org/][QGIS]]`

[2017-08-03 14:47] #56 closed

[2017-08-15 22:44] #48 closed

[2017-08-16 14:35] whirm commented on #48
Thanks!

[2017-09-09 12:04] seandavi opened #61 "Babel code blocks render with a black line at the beginning"
Code blocks such as:

[code]

are rendered (under hugo) as:

[code]

The same code block in Markdown renders without the blank line.

[2017-09-11 11:24] amosbird opened #62 "exporting images in org mode"
Hello, I'm writing hugo blogs using org-mode. When inserting an image link like [[/home/amos/Pictures/Screenshots/img-2017-09-11-165647.png]], hugo doesn't export the image.

[2017-09-12 09:40] dingesista commented on #62
I put images in the static/img folder

and then link them in my posts like below - in a sub directory "post":

[[file:/img/post/sample.jpg]]

Hope this helps.

[2017-09-12 09:43] amosbird commented on #62
hmm, can i make it auto exporting to the static directory? Changing path to that will break org mode's preview

[2017-09-14 13:04] amosbird opened #63 "Customize emphasis exportation"
Hi, I've defined `     (strike-through . "<strong style=\"color : red;\">%s</strong>") ` in emacs so that strike-through gets exported as red bold text. I wonder if there is a way to do that in goorgeous.

[2017-09-23 17:37] chaseadamsio commented on #62
I think this would be more of an upstream Hugo ask than a goorgeous feature. All goorgeous is doing is rendering your paths. Generally in Hugo you have a separate static files directory _in_ your repo.

[2017-09-23 17:39] chaseadamsio commented on #63
goorgeous currently renders your org files the way blackfriday renders markdown. It's agnostic of style since it's content specific and the styling is done through your stylesheets definitions.

[2017-09-23 18:00] #63 closed

[2017-09-23 18:07] #54 closed

[2017-09-23 18:07] chaseadamsio commented on #54
Thanks @ageekymonk for fixing this.

[2017-09-23 18:07] #51 closed

[2017-09-23 18:08] #62 closed

[2017-09-23 18:10] chaseadamsio commented on #50
@wd the issues you raised has been fixed in #51.

[2017-09-24 01:02] wd commented on #50
@chaseadamsio I've seen it, and I add a issue to hugo, https://github.com/gohugoio/hugo/issues/3899, hugo have upgraded the depends, it will release in the next version. Thanks.

[2017-09-24 09:37] gour opened #64 "multiline paragraphs within footnotes"
Hello,

I'm encountering problem when using multi-line paragraph within a footnote...

Here is the test Hugo post:

[code]

and the rendered output looks as:

[code]

iow. the footnote is cut and not rendered properly:

![hugo-footnote](https://user-images.githubusercontent.com/114592/30781259-09cc3788-a11c-11e7-9335-0d6f06ee158a.png)

Does it belong to the category of #26 issue?

Of course, if I

[2017-09-24 10:04] gour commented on #64
Do I miss something, but I do experience similar/same problem with e.g.:

[code]

[2017-09-25 06:07] wd commented on #50
Confirmed, this has been fixed at Hugo HEAD version.

[2017-09-25 09:06] cal2195 commented on #61
Any progress on this? :)

[2017-09-26 13:15] chaseadamsio commented on #61
goorgeous has been updated to the latest version in Hugo [here](https://github.com/gohugoio/hugo/commit/b8fabce217fcb52e3f273491bef95c7977058732#diff-bd290170e2912d3e8694db1a151066e5), which includes the fix for babel rendering. You can get the version as [v0.28 here](https://github.com/gohugoio/hugo/releases/tag/v0.28). Closing this issue as fixed, if you find that the rendering is still incorrec

[2017-10-02 15:25] wd commented on #61
I've tested this use hugo v0.29，I think this issue have not fixed yet.

In org file:
[code]

The output html will be:
[code]

Which should be

[code]
Otherwise, there will be a blank line at the first line.

[2017-10-04 06:50] wd commented on #61
Since it has been 2 days no one response this issue, and I didn't find a way to reopen this issue, I'm sorry but I have to mention you in this post, @chaseadamsio would you plz take look at this issue? Thanks.

[2017-10-04 13:56] chaseadamsio commented on #61
@wd This issue is fixed. The original issue was that there was a _blank_ new line in the code block. As you can see in the example I've included of rendering there is no difference in the way the HTML it outputs and the HTML you're suggesting it should output would render and the way you're suggesting deviates from the way every other element is generated. If you believe this is a problem and can

[2017-10-04 13:58] chaseadamsio commented on #61
I'll look into it this week. Please give me some time since this is one of a few _side projects_ that I maintain ontop of my normal job and being a dad. Aside from some contributions from @ageekymonk, I'm the only person maintaining this project and a few others & I'm getting to things the best I can.

[2017-10-05 03:41] wd commented on #61
@chaseadamsio  Sorry, I'm just trying to confirm you've received the notification. You did a great work for us, feel free to arrange your time to take a look to this issue. Thanks.

[2017-10-10 03:39] #64 closed

[2017-10-10 08:29] elbaulp commented on #41
Any progress on this? I just switched from markdow to org-mode in hugo and realized the same thing, there is no TOC.

I don't know go, but I you give me some hints may be I can help you resolve this bug.

I suppose the way the TOC is generated must be similar to markdow, isn't? Could I just read the code that generate the markdown TOC and try to translate it to org-mode?

[2017-10-10 13:56] chaseadamsio commented on #41
No progress, but I'll look at it this week and see if I can give some guidance.

[2017-10-10 16:52] elbaulp commented on #41
Thanks.

[2017-10-11 15:58] chaseadamsio commented on #41
looking at it this morning, it looks like it'll require some changes in the `Org` renderer method.

Something like firstpass and secondpass needs to be implemented similar to how [russross/blackfriday](https://github.com/russross/blackfriday/blob/067529f716f4c3f5e37c8c95ddd59df1007290ae/markdown.go#L388). It will take a little bit of time but if I can find a good window to hammer away at it I can

[2017-10-14 10:24] gour opened #68 "multiline paragraphs with emphasis within quotes"
Do I miss something, but I do experience similar/same problem with e.g.:

In #64 the problem was solved for footnotes, but it still does exist for quotes:

[code]

renders as:
![quote-shot](https://user-images.githubusercontent.com/114592/31574942-36d717ec-b0db-11e7-923b-ab08acbe7139.png)

[2017-10-14 13:57] chaseadamsio commented on #68
The commit likely needs to be updated in the Hugo vendor json. Will check when I get a chance today and PR if that's the case.

[2017-10-21 11:59] bep opened #70 "You should tag 1.0.0"
There is a v2 but not v1, which would be nice for the completeness of it.

[2017-10-21 17:25] chaseadamsio commented on #70
https://github.com/chaseadamsio/goorgeous/releases/tag/v1.0.0

[2017-10-21 17:25] #70 closed

[2017-10-22 09:40] bep opened #71 "v2 should work with Blackfriday v2"
Your v2 tag still uses the old API, i.e.`blackfriday.HtmlRenderer` vs the new `blackfriday.HTMLRenderer` etc.

Probably not related, but you seem to use a very old version of Go Dep. They changed to a TOML file format a year ago.

[2017-10-22 15:39] chaseadamsio commented on #71
Thanks @bep, I'll look at it. I haven't used dep mgmt in go other than glide, but I thought I followed the docs. Sorry about that.

[2017-10-22 16:39] chaseadamsio commented on #71
Just an update, turns out I was using `godep` (https://github.com/tools/godep#how-to-use-godep-with-a-new-project) and not `go dep` (https://github.com/golang/dep). Updating now, will continue with changes tonight hopefully.

[2017-10-22 16:48] chaseadamsio commented on #71
Looking into it some this morning, this pkg really did do a major version change, looks like all of the public render methods are now private, so I'm going to have to figure out a way around that, but it'll def. be a blocker for moving to blackfriday v2.0.0.

[2017-10-22 16:50] bep commented on #71
They have basically one `RenderNode` method node, but you can type switch on the types. Maybe get some inspiration here:

https://github.com/Ambrevar/blackfriday-latex

[2017-10-22 16:51] chaseadamsio commented on #71
👍 just saw that as I was looking at how they're doing it. It'll still take some time, but that def. makes it better (and probably a better API anyways).

[2017-10-22 17:28] bep commented on #71
No rush. I'm struggling with exactly the same trying to get Hugo over to the new API. The goorgeous import is just one of many temporary commented out sections ... When people open up an issue about "Hugo should update to Blackfriday v2" I suspect they think the amount of work is changing some import statement.

[2017-10-28 00:07] Ealhad opened #72 "Support for #+ATTR_HTML"
In `org-mode`, the `#+ATTR_HTML` syntax is used to specify attributes for the next block.

Example:
[code]
gives
[code]

You can have multiple lines, and multiples attributes per line, like so:
[code]

This is probably easier to implement than #19 (although both would be useful).
<sub>Also, thank you! Support for `org-mode` made me switch to Hugo ;)</sub>

[2017-11-26 22:58] #61 closed

[2017-12-10 21:04] jrmiller82 opened #75 "Not parsing nested lists correctly"
See issue in downstream:

https://github.com/go-gitea/gitea/issues/3122

[code]

Should render something like:

[code]

[2018-01-01 13:13] mdorman opened #76 "No support for syntax highlighting"
It would be nice if goorgeous started taking advantage of Chroma, to allow consistent syntax highlighting.

[2018-01-01 13:38] mdorman commented on #76
Err, please ignore me, this was actually an error in my conversion script...

[2018-01-01 13:38] #76 closed

[2018-01-15 21:42] mdorman opened #77 "Recognize =code=--- as code plus dash..."
`=code=---` should render as something like `<code>code</code>---`.  With the current goorgeous, the `=` signs aren't parsed, and it is simply rendered verbatim.

Still, it's a minor thing versus a very nice library.

[2018-01-22 19:52] eadmund opened #78 "/…/ at beginning of line not recognised"
Example:

[code]

renders as _italics/_

And:

[code]

Renders as Text /italics/.

[2018-01-28 10:09] wd opened #79 "Link in list may fail to parse"
A test like this will fail, I have tried to looking into the code, but still didn't find the bug.

[code]

[code]

[2018-02-13 14:57] humanfactors commented on #3
Has there been any update on this - it would be incredibly useful.

[2018-02-13 15:21] kaushalmodi commented on #3
@humanfactors

Wow, it's been a year since this :)

I then ventured into developing the [`ox-hugo`][1] package, an Org exporter that exports to Hugo front-matter + Markdown (and HTML where needed). I live and breathe in Emacs + Org environment, so getting all of the Org syntax work was very important to port my existing Org documents, which can be [very complicated][2], to Hugo rendered [pages][3]

[2018-03-03 05:06] jrmiller82 commented on #3
I'd love an update too. This is pretty important functionality for an org parser.

[2018-03-04 05:00] #79 closed

[2018-03-04 05:13] wd commented on #77
I think you should leave a blank before and after the `=` sign, like `*bold*, /italic/, _underlined_, =verbatim= and ~code~ `.

[2018-04-03 14:24] leenzhu opened #82 "crash with an empty headline"
[code]
leave the second headline empty(only has `*`)

hugo will crash with:
[code]

[2018-04-03 14:26] leenzhu commented on #82
sorry, when i use hugo, it crash, I'm not sure whether i could fire a issue here.

[2018-05-01 08:16] bzg opened #83 "Adding a note about goorgeous in https://orgmode.org/worg/ ?"
Hi, goorgeous looks very nice.

Worg is a community-driven documentation for anything related to org-mode.

Would you register a user on https://code.orgmode.org and mention goorgeous in worg.git?

Thanks!

[2018-05-08 12:39] sometimesfood opened #84 "Paragraphs that are not followed by an empty line are not parsed correctly"
When a paragraph is not followed by an empty line, it is incorrectly moved to the following section by goorgeous.

This org snippet illustrates the problem:
[code]

Expected result: The snippet above should result in the following output:
[code]

Actual result: The snippet above results in the following output:
[code]

While empty-line paragraph style seems to be preferred in the org-mode communit

[2018-05-08 13:00] sometimesfood commented on #84
Just for reference: This seems to have been broken by commit 95384d4f9d9d06abe2788aa43c91473ef9c52a68.

[2018-05-26 15:58] soldeace opened #86 "Multiple hyphens not converted to dashes"
Ideally, the double hyphen (--) should be rendered as en dash (–), and triple hyphen (---) as em dash (—), just like org-mode already does when exporting to HTML ([source](https://orgmode.org/manual/Special-symbols.html)).

[2018-05-26 16:10] soldeace opened #87 "Markup in footnotes is rendered literally"
Bold, italic, links, and whatnot are rendered literally if inside a footnote. Example:

![captura de tela de 2018-05-26 13-11-36](https://user-images.githubusercontent.com/5541244/40578199-71d88b44-60e6-11e8-992a-c4409fe7434b.png)

I'm using Goorgeous with Hugo.

[2018-06-07 12:10] MunifTanjim opened #88 "Complete Hugo Taxonomies support"
Currently only the default taxonomies: `tags` and `categories` are hardcoded:

https://github.com/chaseadamsio/goorgeous/blob/dcf1ef873b8987bf12596fe6951c48347986eb2f/header.go#L56

But if Hugo site has other taxonomies, `goorgeous` can't parse them from the `.org` file headers.

Any way to support those?

---

I don't know if Org-mode syntax supports list in headers variables (which start with `#

[2018-10-02 11:48] 0pendev commented on #84
Faced the same error when using gitea.
Would be nice to find a way to resolve it.

[2019-02-18 03:44] QuLogic commented on #71
So it's been about a year, but I don't see any more recent commits?

[2019-02-25 04:34] NateScarlet commented on #75
Should be duplicated with #3

[2019-03-14 15:20] polothy commented on #78
I just ran into this as well, slightly different use case:
* This: `blaw blaw blaw /italics/:\n`
* Rendered as: `blaw blaw blaw /italics/:\n` (EG: didn't render)

[2019-03-18 02:41] glallen01 opened #92 "src blocks only render in caps"
This renders fine:
[code]

This does not,
[code]
however lower-case is the default when using `C-c C-,` rather than `<s TAB` in the new 9.2.2 org-mode.

[2019-05-04 19:30] mateusfccp commented on #47
I am having this time problem, and it's preventing me from using Org with Hugo.
Anyway, did the project died?

[2019-06-05 01:43] vxcamiloxv commented on #46
This is really necesary and basic

[2019-06-24 05:32] chaseadamsio commented on #77
@mdorman, sorry this is a super late response. I'm refactoring goorgeous to handle stuff a little easier,
is this sufficient?

org test:
[code]
out:
[code]

If so, this is the  current branch that I'm working on supports this. @wd, I did a test on ` (org-html-export-as-html)` and this is the behavior org-mode has.

[2019-06-24 05:34] chaseadamsio commented on #75
Sorry for the late reply, but this will be fixed in the release I'm currently working on. Here's a preview of the snapshot [generated for deeply nested lists](https://github.com/chaseadamsio/goorgeous/blob/feat-lexAndParse/transform/snapshots/unordered-list/with-2-deep-nested-children-list.org.html).

[2019-06-24 05:35] chaseadamsio commented on #3
Sorry I kinda went dark. I'm almost done with the refactor for goorgeous to handle how many ever deeply nested lists you may have. Here's a snapshot [generated from a deeply nested list](https://github.com/chaseadamsio/goorgeous/blob/feat-lexAndParse/transform/snapshots/unordered-list/with-2-deep-nested-children-list.org.html).

[2019-06-24 05:38] chaseadamsio commented on #68
Sorry for the delay, I tested ` (org-html-export-as-html)` with this block quote and org-mode itself doesn't support block quotes with inner element parsing:

[code]

It should be possible for goorgeous to check for a parameter on the block like "render-inner" or something so that it knows to render the inner elements. How does that sound?

[2019-06-24 05:49] chaseadamsio commented on #50
@mgmart, sorry for the long delay 😅but I'm re-writing goorgeous. @wd's issues are still fixed in the rewrite but I want to make sure your issues are addressed. Check the commit (listed above) in this issue and let me know if that's the behavior you're expecting.

[2019-06-24 05:51] chaseadamsio commented on #47
@mateusfccp it didn't die, but I slacked and I'm really sorry about that! That being said, I overhauled goorgeous (will open the PR to Hugo soon) and this is now supported correctly.

[2019-06-24 05:53] chaseadamsio commented on #32
@strow sorry for the VERY long delay, but I've overhauled Goorgeous to lex > parse > transform and I think you'll find that you won't run into these out of range issues anymore. I'm going to leave this issue open and I'll add another comment once the update is merged into Hugo, maybe you can let me know if it's working for you as it should.

[2019-06-25 13:14] mgmart commented on #50
@chaseadamsio, from looking at the code I would assume that the issue is addressed.
Looking forward to try the rewritten version.

[2019-06-25 14:00] chaseadamsio commented on #50
@mgmart you and me both. I'm really excited for what this re-write will do for org support in Hugo and some other ideas I have.

[2019-06-26 02:21] wd commented on #50
@chaseadamsio  May be of ftopic, but according to this commit
 https://github.com/gohugoio/hugo/commit/b6867bf8068fcaaddf1cb7478f4d52a9c1be1411  I found hugo has changed it's org render tool to https://github.com/niklasfasching/go-org/ .

[2019-06-26 03:31] chaseadamsio commented on #50
@wd thanks for the heads up...It's kind of a bummer that I was 2 weeks too late. There's still a lot missing (html + html_attr + the way blocks are handled) so I may at least merge the branch into master so that it's complete.

[2019-06-26 03:47] chaseadamsio commented on #2
Sorry @kaushalmodi that I took so long on this. I had a branch I was getting ready to PR into Hugo this week and just realized there's a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous. Thanks for the feedback in the past.

[2019-06-26 03:47] #2 closed

[2019-06-26 03:48] chaseadamsio commented on #92
I had a branch I was getting ready to PR into Hugo this week, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:48] #92 closed

[2019-06-26 03:48] chaseadamsio commented on #87
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:48] #87 closed

[2019-06-26 03:49] chaseadamsio commented on #88
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:49] #88 closed

[2019-06-26 03:49] chaseadamsio commented on #86
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:49] #86 closed

[2019-06-26 03:49] chaseadamsio commented on #84
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:49] #84 closed

[2019-06-26 03:49] chaseadamsio commented on #83
I had a branch I was getting ready to PR into Hugo this week, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:49] #83 closed

[2019-06-26 03:50] chaseadamsio commented on #77
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:50] #77 closed

[2019-06-26 03:50] chaseadamsio commented on #82
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:50] #82 closed

[2019-06-26 03:50] chaseadamsio commented on #78
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:50] #78 closed

[2019-06-26 03:50] chaseadamsio commented on #75
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:50] #75 closed

[2019-06-26 03:50] chaseadamsio commented on #72
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:50] #72 closed

[2019-06-26 03:50] chaseadamsio commented on #71
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:50] #71 closed

[2019-06-26 03:51] chaseadamsio commented on #68
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:51] #68 closed

[2019-06-26 03:51] chaseadamsio commented on #53
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:51] #53 closed

[2019-06-26 03:51] chaseadamsio commented on #50
Since t it looks like @niklasfasching PR'ed a new org parser, I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:51] #50 closed

[2019-06-26 03:52] chaseadamsio commented on #47
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:52] #47 closed

[2019-06-26 03:52] chaseadamsio commented on #46
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:52] #46 closed

[2019-06-26 03:52] chaseadamsio commented on #41
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:52] #41 closed

[2019-06-26 03:52] chaseadamsio commented on #33
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:52] #33 closed

[2019-06-26 03:53] chaseadamsio commented on #32
So it turned out that I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:53] #32 closed

[2019-06-26 03:53] chaseadamsio commented on #31
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:53] #31 closed

[2019-06-26 03:53] chaseadamsio commented on #30
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:53] #30 closed

[2019-06-26 03:53] chaseadamsio commented on #29
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:53] #29 closed

[2019-06-26 03:54] chaseadamsio commented on #28
I had a branch I was getting ready to PR into Hugo, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:54] #28 closed

[2019-06-26 03:54] chaseadamsio commented on #19
I had a branch I was getting ready to PR into Hugo this week that fixed this, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:54] #19 closed

[2019-06-26 03:56] chaseadamsio commented on #18
@kaushalmodi, just a heads up, niklasfasching/go-org doesn't support this.

I had a branch I was getting ready to PR into Hugo this week that fixed this, but since Hugo is using a new org parser, I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:56] #18 closed

[2019-06-26 03:57] chaseadamsio commented on #10
I had a branch I was getting ready to PR into Hugo (that was ready to fix this), but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:57] #10 closed

[2019-06-26 03:57] chaseadamsio commented on #3
I had a branch I was getting ready to PR into Hugo, but it looks like @niklasfasching PR'ed a new org parser, so I'm closing all the issues here, deprecating and archiving goorgeous.

[2019-06-26 03:57] #3 closed

[2019-06-26 05:36] priyadarshan commented on #29
Thank you so much for all the work you put into goorgeous. It made a difference in my life and my work, and I am very grateful for that. Best of luck for all your current and future endeavours.

[2019-06-26 14:25] curiouslychase commented on #29
Thanks @priyadarshan, that means a lot! I think @niklasfasching's implementation will support your use case a lot better, so hopefully that's helpful!